@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Bitter&display=swap");
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Bitter', serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightblue;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  width: 100%;
  position: fixed;
  opacity: .75;
  z-index: 2;
}

#cardRow1, #cardRow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#cardRow1 {
  margin-top: 50px;
}

#cardRow2 {
  margin-bottom: 50px;
}

#headerLogo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 0;
  opacity: 100%;
}

#content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border: solid 3.5px rgba(212, 79, 30, 0.829);
  border-radius: 10%;
  margin: 10px;
  height: 22rem;
  width: 24rem;
  -webkit-box-shadow: 2px 5px lightgrey;
          box-shadow: 2px 5px lightgrey;
  padding: 30px 5px 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardText {
  font-size: 40px;
  margin-left: 20px;
}

.cardNumber {
  font-size: 100px;
}

/* The hero image */
#hero {
  background-image: url("../images/hero_image.jpg");
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

/* Place text in the middle of the image */
#heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  text-shadow: 2px 2px 4px #000000;
}

footer {
  background: grey;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5%;
  width: 100%;
  text-align: center;
}

#footerText {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------ Media Query Start ------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------- */
/* ---------------------------- */
/* ----- Tablets Portrait ----- */
/* ---------------------------- */
/* ----------------------------- */
/* ----- Tablets Landscape ----- */
/* ----------------------------- */
/* ---------------------------------- */
/* ----- Mobile Phones Portrait ----- */
/* ---------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #heroText {
    font-size: 60px;
    top: 37%;
  }
  .cardText {
    font-size: 30px;
  }
  .card {
    height: 18rem;
    width: 17rem;
  }
}

/* ----------------------------------- */
/* ----- Mobile Phones Landscape ----- */
/* ----------------------------------- */
/*# sourceMappingURL=style.css.map */